.userprofile-heading{
    color: #39114d;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 8rem;
    width: 50%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.userprofile-div{
    background-color: white;
    width: 70%;
    height: 45%;
    margin: 4rem auto 4rem auto;
    color: rgb(0, 0, 0);
    border: 5px solid #380934;
    border-radius: 10px;
    font-size: 1.2rem;
}

.userprofile-div .card{
width: 100% !important;
background-color: rgb(255, 255, 255);
}

.userprofile-div .card-img-top{
    width: 30%;
    border-radius: 50%;
    margin: 1rem auto 1rem auto;
    border: 5px solid #0d2a60;
}

.userprofile-div hr{
height: 3px;
}

.userprofile-div .card-title{
    text-align: center;
    font-weight: bold;
    margin: 2rem;
    font-size: 2rem;
}

.userprofile-div .card-body{
    width: 80%;
    margin: 0 auto 0 auto;
    
}

.userprofile-div button{
    margin: 1rem;
    width: 10rem;
    height: 5rem;
}


.userprofile-div .nav-link{
    color: black !important;
    background-color: white;
    border: 5px solid #0d2a60;
    width: 100%;
    margin: 2rem;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.userprofile-div .nav-link:hover{
    color: white !important;
    background-color: #0d2a60;
}

@media (max-width: 768px) {
    .userprofile-div{
        width: 95%;
    }

    .userprofile-div .card-body{
        width: 95%;
    }
    .userprofile-div .nav-link{
        margin-left: auto;
        margin-right: auto;
    }
}